html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0 auto;
  padding: 0;
  background-color: #F5F5F5;
}

h1 {
  font-size: 36px;
  color: #00843d;
}

.main {
  max-width: 80%;
  margin: 0 auto;
}

.button-a, input[type=submit], .plan-button, .sign-up {
  transition: all 0.3s ease-in-out;
}

.button-a {
  text-decoration: none;
  background-color: #ffcd00;
  width: 250px;
  padding: 1rem 1.25rem;
  border-radius: 1.25rem;
  color: black;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  display: block;
  box-shadow: 0 8px 10px -10px #00843d;
}
.button-a:hover {
  color: black;
  box-shadow: none;
  transform: translateY(3px);
}
.button-a:active {
  opacity: 0.5;
}

.buttons-main {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  max-width: 90%;
  margin: auto;
}
@media screen and (min-width: 640px) {
  .buttons-main {
    gap: 30px;
  }
}
@media screen and (min-width: 1100px) {
  .buttons-main {
    gap: 40px;
  }
}

.button-last {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.button-last a {
  width: 380px;
}

.plan-button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.77;
  text-decoration: none;
  box-shadow: 0 8px 10px -10px #00843d;
  border-radius: 0.15em;
}
.plan-button:hover {
  filter: grayscale(100%);
  color: white;
  transform: scale(1.1);
}

.plan-button.grade-1 {
  background-image: url(/images/grade13.jpg);
}

.plan-button.grade-2 {
  background-image: url(/images/grade46.jpg);
}

.plan-button.sport {
  background-image: url(/images/sport.jpg);
}

.plan-button.skate {
  background-image: url(/images/skate.jpg);
}

.plan-button.camp {
  background-image: url(/images/camp.jpg);
}

input[type=submit], .sign-up {
  background-color: #ffcd00;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  box-shadow: 0 8px 10px -6px #00843d;
  appearance: none;
}
input[type=submit]:hover, .sign-up:hover {
  color: black;
  box-shadow: none;
  transform: translateY(3px);
}
input[type=submit]:active, .sign-up:active {
  opacity: 0.5;
}

.sign-up {
  width: 100px;
  font-weight: 700;
}

.footer {
  margin: 100px auto 0 auto;
  text-align: center;
  margin-top: 80px;
  font-size: 10px;
}

.footer-icon {
  width: 25px;
}

#top-header {
  font-size: calc(10px + 0.390625vw);
  color: black;
  background-color: #ffcd00;
  box-shadow: 0 8px 10px -10px #00843d;
  width: 100%;
  font-weight: bold;
}

.container-header {
  max-width: 90%;
  margin: 0 auto;
  padding: 5px 0px;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 650px) {
  .container-header {
    justify-content: flex-start;
  }
}

.icon {
  width: 16px;
  padding-right: 5px;
}

.contact-header a {
  color: black;
  text-decoration: none;
}
.contact-header a:hover {
  border-bottom: 1px solid black;
  color: black;
}

.desktop {
  display: none;
}

@media screen and (min-width: 1100px) {
  .desktop {
    display: block;
  }
  nav.desktop-menu {
    display: block;
    text-align: right;
    font-size: 16px;
  }
  nav.desktop-menu ul li {
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
  }
  nav.desktop-menu li a {
    color: black;
  }
  nav.desktop-menu li a:hover {
    border-bottom: 1px solid black;
  }
  nav.desktop-menu li:hover {
    cursor: pointer;
  }
  nav.desktop-menu ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
  }
  nav.desktop-menu ul li:hover > ul,
  nav.desktop-menu ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    width: 150px;
    text-align: center;
    padding-top: 10px;
    box-shadow: 0px 3px 5px -1px #ccc;
    z-index: 9999;
  }
  nav.desktop-menu ul li ul li {
    clear: both;
    margin-bottom: 2px;
    border-style: none;
    text-decoration: none;
    background-color: #ffcd00;
    width: 120px;
    padding: 5px 10px;
    border-radius: 20px;
    color: black;
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
  nav ul li ul li a:hover {
    width: 140px;
    transition: all 0.3s ease;
    font-size: 13px;
    border-bottom: none;
    font-weight: 700;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: #3CA0E7;
  }
}
menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 80%;
  margin: 0 auto;
  padding-inline-start: 0px;
}

.logo {
  font-weight: 700;
  font-size: 25px;
}

.mobile, .mobile-menu {
  display: block;
  z-index: 9999;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__checkbox:checked ~ .menu__list {
  display: block;
  margin-top: 35px;
}

.menu__toggler {
  cursor: pointer;
  width: 30px;
  height: 3px;
  background-color: #00843d;
  position: relative;
}

.menu__toggler::before,
.menu__toggler::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #00843d;
  position: absolute;
  transition: transform 0.3s ease;
}

.menu__toggler::before {
  top: -8px;
}

.menu__toggler::after {
  top: 8px;
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  width: 80%;
  background: white;
  position: absolute;
  left: 0;
  padding: 5%;
  border-top: 3px solid #00843d;
  margin: 0 80px;
  font-size: 16px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu__item {
  margin-bottom: 10px;
  font-weight: 600;
}

.menu__link {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 10px 5%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

@media screen and (min-width: 1100px) {
  .mobile {
    display: none;
  }
}
.wrapper-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 25px auto 40px auto;
  gap: 20px;
}
@media screen and (min-width: 1100px) {
  .wrapper-intro {
    gap: 100px;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    margin: 10px auto 55px auto;
    width: 85%;
  }
}

.content-left, .content-right {
  color: black;
  font-size: 5vw;
  font-weight: 700;
}
@media screen and (min-width: 630px) {
  .content-left, .content-right {
    font-size: calc(25px + 0.390625vw);
  }
}
.content-left p, .content-right p {
  margin-bottom: 10px;
  margin-top: 10px;
}

.image-jan {
  display: flex;
  justify-content: center;
}

.jan {
  border-radius: 50%;
  width: 40vw;
  height: auto;
}
@media screen and (min-width: 640px) {
  .jan {
    width: 30vw;
  }
}
@media screen and (min-width: 1100px) {
  .jan {
    border-radius: 50%;
    max-width: 250px;
    height: auto;
  }
}

@media screen and (min-width: 1100px) {
  .welcome {
    margin-left: 40px;
  }
}

.fit {
  color: #00843d;
  font-size: calc(20px + 0.390625vw);
}
@media screen and (min-width: 1100px) {
  .fit {
    margin-left: 130px;
  }
}

.font-logo {
  font-size: 10vw;
  color: #00843d;
}
@media screen and (min-width: 720px) {
  .font-logo {
    font-size: 8vw;
  }
}
@media screen and (min-width: 1100px) {
  .font-logo {
    font-size: 5vw;
    margin-left: 80px;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  margin: 50px auto;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .main-content {
    text-align: left;
    justify-content: flex-start;
    max-width: 60%;
  }
}

.about-jan {
  max-width: 900px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.map {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 720px) {
  .map {
    flex-direction: row;
    gap: 150px;
  }
}

.map-right {
  max-width: 30vw;
}

@media screen and (min-width: 1200px) {
  .address {
    padding-left: 30px;
  }
}

.contact-info {
  font-weight: 700;
  font-size: calc(12px + 0.390625vw);
}
@media screen and (min-width: 1200px) {
  .contact-info {
    font-size: calc(18px + 0.390625vw);
  }
}

.call {
  font-weight: 500;
  font-size: calc(12px + 0.390625vw);
}
@media screen and (min-width: 720px) {
  .call {
    padding-left: 100px;
    font-weight: 600;
  }
}

.bank {
  margin-top: 40px;
}
.bank h3, .bank p {
  margin: 0;
}

.frame {
  display: none;
}
@media screen and (min-width: 745px) {
  .frame {
    display: block;
  }
}

/*.hero {
    background: #2E2a28 no-repeat center/cover;
    height: 300px;
  }*/
.hero {
  height: 300px;
  background: no-repeat center/cover;
}

.form {
  max-width: 70%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
  margin-top: 60px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type=text],
input[type=email],
input[type=number],
select,
textarea {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  background-color: none;
  color: black;
}

option {
  font-family: Nunito, sans-serif;
  font-size: 10px;
  text-decoration: #00843d;
}

.icon-contact {
  width: 20px;
  color: #00843d;
  margin-right: 3px;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 80%;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.container a {
  margin-bottom: 20px;
}

.grade-english {
  display: flex;
  justify-content: center;
}

.container-english {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  gap: 10px;
  justify-content: center;
}

.english {
  margin-bottom: 40px;
}
.english li {
  margin-top: 10px;
  font-weight: 700;
  font-size: 16px;
}

.column-left {
  width: 460px;
}

.column-right {
  width: 300px;
  display: flex;
  justify-content: center;
}

.photo-plan {
  max-width: 90%;
}

.sign-up-plan {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.container-sport, .container-times {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.photo-sport {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.group {
  font-weight: 700;
}

.grade-skate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
.grade-skate h2 {
  margin-top: 0;
}

.photo-skate {
  max-width: 60%;
}

.list-stuff {
  text-align: left;
}

.camp {
  margin-bottom: 80px;
}

.container-times {
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */