@use 'colours';

//...........................................



html {
    box-sizing: border-box;
    
  }
  
  *, ::before, ::after {
    box-sizing: inherit;
  }
  
  
  body {
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: colours.$background;
}

h1 {
    font-size: 36px;
    color: colours.$main-green;
}

.main {
  max-width: 80%;
  margin: 0 auto;
}
  


