@use 'colours';

//--------------------------



.map {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    margin-bottom: 30px;

    @media screen and (min-width: 720px)  {
       flex-direction: row;
       gap: 150px;
     }
}

.map-right {
    max-width: 30vw;
}

.address {
    @media screen and (min-width: 1200px)  {
    padding-left: 30px;
    }
}

.contact-info {
    font-weight: 700;
    font-size: calc(12px + 0.390625vw);

    @media screen and (min-width: 1200px)  {
        font-size: calc(18px + 0.390625vw);
    }
}

.call {
    font-weight: 500;
    font-size: calc(12px + 0.390625vw);

    @media screen and (min-width: 720px)  {
        padding-left: 100px;
        font-weight: 600;
    }
}


.bank {
    margin-top: 40px;

    h3, p {
    margin: 0;
    }
}
