@use 'colours';

//...........................................


#top-header {
    font-size: calc(10px + 0.390625vw);
    color: black;
    background-color: colours.$main-yellow;
    box-shadow: 0 8px 10px -10px colours.$main-green;
    width: 100%;
    font-weight: bold;
}

.container-header {
    max-width: 90%;
    margin: 0 auto;
    padding: 5px 0px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 650px) {
        justify-content: flex-start;
    }
    
}

.icon {
    width: 16px;
    padding-right: 5px;
}


    a {
        color: black;
        text-decoration: none;
    }

    

