@use 'colours';

//.............................

/*.hero {
    background: #2E2a28 no-repeat center/cover;
    height: 300px;
  }*/

.hero {
  height: 300px; 
  background: no-repeat center/cover;
}
  

