@use 'colours';

//...........................................

.wrapper-intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 25px auto 40px auto;
    gap: 20px;

    @media screen and (min-width: 1100px)  {

            gap: 100px;
            flex-direction: row;
            justify-content: flex-start;
            text-align: left;
            margin: 10px auto 55px auto;
            width: 85%;

        }
}

.content-left, .content-right {
    color: colours.$text;
    font-size: 5vw;
    font-weight: 700;

    @media screen and (min-width: 630px)  {
        font-size: calc(25px + 0.390625vw);
 
    }
        
    p {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}


.image-jan {
    display: flex;
    justify-content: center;
}

.jan {
    border-radius: 50%;
    width: 40vw;
    height: auto;

    @media screen and (min-width: 640px)  {
            width: 30vw;
        }
    @media screen and (min-width: 1100px)  {
        
            border-radius: 50%;
            max-width: 250px;
            height: auto;
        }
}

.welcome {
    @media screen and (min-width: 1100px)  {
        margin-left: 40px;
    }
}
.fit {
    color: colours.$main-green;
    font-size: calc(20px + 0.390625vw);
    
    @media screen and (min-width: 1100px)  {
        margin-left: 130px;
    }
}

.font-logo {
    font-size: 10vw;
    color: colours.$main-green;
    
    @media screen and (min-width: 720px)  {
        font-size: 8vw;
 
    }
    @media screen and (min-width: 1100px)  {
        font-size: 5vw;
        margin-left: 80px;
 
    }
        
}


.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin: 50px auto;
    text-align: center;

    @media screen and (min-width: 1200px)  {
        
        text-align: left;
        justify-content: flex-start;
        max-width: 60%;


  
     }
}

.about-jan {
    max-width: 900px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}



.map {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    margin-bottom: 30px;

    @media screen and (min-width: 720px)  {
       flex-direction: row;
       gap: 150px;
 
    }
}

.map-right {
    max-width: 30vw;
}

.address {
    @media screen and (min-width: 1200px)  {
    padding-left: 30px;
    }
}

.contact-info {
    font-weight: 700;
    font-size: calc(12px + 0.390625vw);


    @media screen and (min-width: 1200px)  {
        font-size: calc(18px + 0.390625vw);
    }
   
}

.call {
    font-weight: 500;
    font-size: calc(12px + 0.390625vw);



    @media screen and (min-width: 720px)  {
        padding-left: 100px;
        font-weight: 600;

     }
}


.bank {
    margin-top: 40px;

    h3, p {
    margin: 0;
    }
}


.frame {
    display: none;

    @media screen and (min-width: 745px)  {
        display: block;
     }
}