@use 'colours';

//-----------------------------------

.container-price {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    gap: 40px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
}


.price {
    display: flex;
    flex-direction: column;
}
  
  .image-price {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
 }
  
  .text-price {
    font-size: 12px;
    width: 200px;
    height: 200px;
    background-color: white;
    text-align: center;

    h2 {
        font-size: 14px;
    }
  }

  .price-tag {
    font-size: 18px;
    font-weight: 700;
  }

  .date {
    font-size: 10px;
}

.tag-date {
    margin-bottom: 5px;
}
  

  

  .image-13 {
    background-image: url(/images/grade13.JPG);
  }
  
 .image-46 {
    background-image: url(/images/grade46.jpg);
  }
  
.image-sport {
    background-image: url(/images/sport.JPG);
  }
.image-skate {
    background-image: url(/images/skate.JPG);
  }

 .image-camp {
    background-image: url(/images/camp.jpg);
  }
  
  
.discount {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    font-weight: 700;
    color: colours.$main-green;
}

  