@use 'colours';

//...........................................

.form {
  max-width: 70%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
  margin-top: 60px;
}

.form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  select,
  textarea {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    background-color: none;
    color: black;
  }
  
  option {
    font-family: colours.$font-family-main;
    font-size: 10px;
    text-decoration: colours.$main-green;
    }

 

 