
<footer class="footer">

<a class="border-link" href="https://www.facebook.com/jannovaksbooksnboots">
    <img class="footer-icon" src="/images/facebook.png" alt="Facebook">
</a>

<a class="border-link" href="https://www.instagram.com/lyliees/">
    <img class="footer-icon" src="/images/instagram.png" alt="Instagram">
</a>

<a class="border-link" href="mailto:booksnbootscz@gmail.com">
    <img class="footer-icon" src="/images/email.png" alt="Email">
</a>
 

<p>Linda Novak 2023</p>

</footer>

          