
<footer class="footer">

<img class="footer-icon" src="/images/facebook.png">
<a href="https://www.facebook.com/jannovaksbooksnboots"></a>

<img class="footer-icon" src="/images/instagram.png">
<a href="https://www.instagram.com/lyliees/"></a>

<img class="footer-icon" src="/images/email.png">
<a href="mailto:booksnbootscz@gmail.com"></a>


<p>Linda Novak 2023</p>

</footer>

          